{% extends "base.html" %}

{% block content %}

<section class="row p-5 justify-content-center g-0">
    <div class="col">
        <h2>About me</h2>
        <p>
            I am a 3d rendering enthusiast. I love game artwork.
            On this page, I am showcasing the art that I've made with the ability to purchase the art for your use.
        </p>
        <p> Here are some examples of what you can find here </p>
        <div class="p-2">
            <ul>
                <li>3D renderings</li>
                <li>Photos</li>
                <li>Sketches</li>
                <li>Concept art</li>
                <li>3D models</li>
                <li>Landscape paintings</li>
                <li>Logo design</li>
            </ul>
        </div>
        <p>The images bought on this page are your right to use on your projects without the need to give me credit. Which you are, of course, welcome to do, But it is not required.</p>
    </div>
</section>


{%endblock%}