{% extends "base.html" %}

{% block content %}

<section class="hero">
    <div class="col">
        <img class="hero-1 hero-transition"
            src="https://res.cloudinary.com/jernmoln/image/upload/v1646853240/static/images/hero_1.224cb6eb056e.png"
            alt="A fictional fighter jet flying in the mountainous skies">
        <img class="hero-2 hero-transition"
            src="https://res.cloudinary.com/jernmoln/image/upload/v1646853243/static/images/hero_3.0792ab323412.png"
            alt="A 3d rendering of a bathroom, marble sink white cabinet">
        <img class="hero-3 hero-transition"
            src="https://res.cloudinary.com/jernmoln/image/upload/v1646853242/static/images/hero_2.2fcf27c9aa40.png"
            alt="A diorama of a main battle tank behind sandbags near a small river">
    </div>
    <div class="callout">
        <h2 class="callout-text">Welcome to my art portfolio, I am currently available for work</h2>
    </div>
</section>

<section class="row p-5 text-center justify-content-center g-0">
    <h2>Newest addition</h2>
    <div class="row g-0 P-3 justify-content-center">
        {% for listimage in images %}
        {% if listimage.hidden == False %}
        <div class="col-1 ms-3">
            <img class="checkout-image" src="{{ listimage.water_marked_image.url}}" alt="{{ listimage.title }}">
        </div>
        {% endif %}
        {% empty %}
          
        <h1 class="mt-5 text-center">EMPTY</h1>
        {% endfor %}
    </div>
    <a class="m-2" href="{% url 'gallery' %}">View all images</a>
</section>

<section class="row p-5 bg-dark text-white justify-content-center g-0">
    <div class="col">
        <h2>Requests?</h2>
        <p><b>Time-Limited Deal!</b></p>
        <p>Currently, we offer free commissions so that we can expand our coverage.</p>
        <p> Do you need something custom made, Or do You want an art piece of your online avatar, don't hesitate to make an order</p>
        <a href="{% url 'request' %}">Make a request</a>
    </div>
</section>

<section class="row p-5 bg-warning justify-content-center g-0">
    <h2>About me</h2>
    <p>
        I am a 3d rendering enthusiast. I love game artwork.
        On this page, I am showcasing the art that I've made with the ability to purchase the art for your use.
    </p>
       <p> Here are some examples off what you can find here </p>
        <div class="p-2">
            <ul>
                <li>3D renderings</li>
                <li>Photos</li>
                <li>Sketches</li>
                <li>Concept art</li>
                <li>3D models</li>
                <li>Landscape paintings</li>
                <li>Logo design</li>
            </ul>
        </div>
        <p>The images bought on this page are your right to use on your projects without the need to give me credit. Which you are, of course, welcome to do, But it is not required.</p>
    <a href="{% url 'about' %}">Click here to read more</a>
</section>

<section class="row g-0 p-5 justify-content-center g-0">
    <div class="col">
        <h2>Contact?</h2>
        <p>
            Do you have any questions, please don't hesitate to contact me
        </p>
        <a href="{% url 'contact' %}">Contact me</a>
    </div>
</section>


{%endblock%}