{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jernskeggs Art Admin panel</title>
    {% include 'style.html' %}
</head>

<body>
    {% if user.is_staff %}

    <!-- Menu Sidebar Section -->
    <aside class="col-2 ap-menu text-center fixed text-white bg-dark">
        <div class="p-5">
            <h2>Admin panel</h2>
        </div>
        <hr class="ap-hr">
        <div id="overview" class="ap-menu-sel ap-menu-option">
            <h6>Overview</h6>
        </div>
        <hr class="ap-hr">
        <div id="requestList" class="ap-menu-option">
            <h6>Request List</h6>
        </div>
        <hr class="ap-hr">
        <div id="purchaseHistory" class="ap-menu-option">
            <h6>Purchase History</h6>
        </div>
        <hr class="ap-hr">
        <div id="contactInquiries" class="ap-menu-option">
            <h6>Contact Inquiries</h6>
        </div>
        <hr class="ap-hr">
        <div id="products" class="ap-menu-option">
            <h6>products</h6>
        </div>
        <hr class="ap-hr">
        <div class="ap-menu-btn">
            <hr>
            <a href="{% url 'home' %}" class="btn btn-outline-light text-center">Back to page</a>
            <a href="{% url 'admin:login' %}" class="btn btn-outline-light text-center">Advanced Admin Panel</a>
        </div>
    </aside>
    <main class="g-0 row fill-to-bottom">

        <!--Empty filler for admin panel menu -->

        <div class="col-2">
        </div>
        <div class="g-0 p-3 col-10">

            <!--JavaScript error message -->

            <div id="support">
                <p>This page requires javascript to function, please enable javascript</p>
            </div>

            <!-- Landing page -->

            <div id="overviewDisplay" class="row">
                <div class="col-12">
                    <div class="bg-dark p-2">
                        <h2 class="text-white">something</h2>
                    </div>
                    <div class="p-2 bg-dark bg-opacity-10 mb-3">
                        <p>1 Some paragraph that goess here and there, about latest updates</p>
                    </div>
                </div>
                <div class="col-8">
                    <div class="bg-dark p-2 ">
                        <h2 class="text-white">something</h2>
                    </div>
                    <div class="p-2 bg-dark bg-opacity-10 mb-3">
                        <p>2 Some paragraph that goess here and there, about latest updates</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="bg-dark p-2">
                        <h2 class="text-white">something</h2>
                    </div>
                    <div class="p-2 bg-dark bg-opacity-10 mb-3">
                        <p>3 Some paragraph that goess here and there, about latest updates</p>
                    </div>
                </div>
            </div>

            <!-- Request List-->

            <div id="requestListDisplay" class="row">
                <div class="col-12">
                    <div class="bg-dark p-2">
                        <h2 class="text-white">Request List</h2>
                    </div>
                    {% for item in request_order %}
                    <div class="p-2 bg-dark bg-opacity-10 mb-3">
                        <p>{{ item.first_name }}asda</p>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Purchase History -->

            <div id="purchaseHistoryDisplay" class="row text-center">
                <div class="col-12">
                    <div class="bg-dark p-2">
                        <h2 class="text-white">purchase History</h2>
                    </div>
                    <div class="p-2 g-0 row bg-dark bg-opacity-10 mb-3">
                        <div class="col-3">
                            <p>Order ID</p>
                        </div>
                        <div class="col-1">
                            <p>Name</p>
                        </div>
                        <div class="col-2">
                            <p>Email Address</p>
                        </div>
                        <div class="col-2">
                            <p>Phone Number</p>
                        </div>
                        <div class="col-2">
                            <p>Ordered On</p>
                        </div>
                        <div class="col-2">
                            <p>Order Total</p>
                        </div>
                    </div>
                    {% for item in image_order %}
                    <div class="p-2 g-0 row bg-dark bg-opacity-10 mb-3">
                        <div class="col-3">
                            <a href="#">{{ item.order_id }}</a>
                        </div>
                        <div class="col-1">
                            <p>{{ item.first_name }} {{ item.last_name }}</p>
                        </div>
                        <div class="col-2">
                            <a href="mailto: {{ item.email_address }}" target="_blank">{{ item.email_address }}</a>
                        </div>
                        <div class="col-2">
                            <p>{{ item.phone_number }}</p>
                        </div>
                        <div class="col-2">
                            <p>{{ item.date_ordered }}</p>
                        </div>
                        <div class="col-2">
                            <p>{{ item.order_total }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Contact inquiries -->

            <div id="ContactInquiriesDisplay" class="row text-center">
                <div class="col-12">
                    <div class="bg-dark p-2">
                        <h2 class="text-white">purchase History</h2>
                    </div>
                    <div class="p-2 g-0 row bg-dark bg-opacity-10 mb-3">
                        <div class="col-5">
                            <p>Query</p>
                        </div>
                        <div class="col-1">
                            <p>Name</p>
                        </div>
                        <div class="col-2">
                            <p>Email Address</p>
                        </div>
                        <div class="col-2">
                            <p>Phone Number</p>
                        </div>
                        <div class="col-2">
                            <p>Date of Contact</p>
                        </div>

                    </div>
                    {% for item in contact %}
                    <div class="p-2 g-0 row bg-dark bg-opacity-10 mb-3">
                        <div class="col-5">
                            <p>{{ item.query }}</p>
                        </div>
                        <div class="col-1">
                            <p>{{ item.first_name }} {{ item.last_name }}</p>
                        </div>
                        <div class="col-2">
                            <a href="mailto: {{ item.email_address }}" target="_blank">{{ item.email_address }}</a>
                        </div>
                        <div class="col-2">
                            <p>{{ item.phone_number }}</p>
                        </div>
                        <div class="col-2">
                            <p>{{ item.date_contacted }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Products -->

            <div id="productsDisplay" class="row">
                <div class="col-6">
                    <div class="bg-dark p-2">
                        <h2 class="text-white">Add a new product</h2>
                    </div>
                    <div class="p-2 g-0 row bg-dark bg-opacity-10 mb-3">
                        <p>click here to add a new image</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="bg-dark p-2">
                        <h2 class="text-white">Glossary</h2>
                    </div>
                    <div class="p-2 g-0 row bg-dark bg-opacity-10 mb-3">
                        <p>
                            <b>Slug</b>: is a shortend non space name perfect for webbrowsers
                        </p>
                        <p>
                            <b>Private Image</b>: is a private image that is sent to the user
                            when the have purchased the product
                        </p>
                        <p>
                            <b>Public Image</b>: is a public image with watermarkings for the gallery
                        </p>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <div class="bg-dark p-2">
                        <h2 class="text-white">Product List</h2>
                    </div>
                    <div class="p-2 g-0 row bg-dark bg-opacity-10 mb-3">
                        <div class="col-3">
                            <p>Title</p>
                        </div>
                        <div class="col-1">
                            <p>Slug</p>
                        </div>
                        <div class="col-2">
                            <p>Private Image</p>
                        </div>
                        <div class="col-1">
                            <p>Public Image</p>
                        </div>
                        <div class="col-1">
                            <p>Hidden</p>
                        </div>
                        <div class="col-2">
                            <p>Price</p>
                        </div>
                        <div class="col-1">
                            <p></p>
                        </div>
                    </div>
                    {% for item in images %}
                    <form action="{% url 'update_product' item.id %}" method="POST">
                        {% csrf_token %}
                        <div class="p-2 g-0 row bg-dark bg-opacity-10 mb-3 align-content-center">
                            <div class="col-3">
                                <p>{{ item.title }}</p>
                            </div>
                            <div class="col-1">
                                <p>{{ item.slug }}</p>
                            </div>
                            <div class="col-2">
                                <a href="{{ item.image.url }}" target="_blank">Private Image</a>
                            </div>
                            <div class="col-1">
                                <a href="{{ item.water_marked_image.url }}" target="_blank">Public Image</a>
                            </div>
                            <div class="col-1 form-check form-check-inline">
                                <label>Hidden: </label>
                                {% if item.hidden %}
                                <input type="checkbox" name="hide_me" checked>
                                {% else %}
                                <input  type="checkbox" name="hide_me">
                                {% endif %}
                            </div>
                            <div class="col-2">
                                <label>Cost: </label>
                                <input type="number" name="price" value="{{ item.price }}">
                            </div>
                            <div class="col-1">
                                <button type="submit" class="btn btn-dark">Save</button>
                            </div>
                        </div>
                    </form>
                    {% endfor %}
                </div>
            </div>
    </main>
    <footer class="g-0 row fixed-bottom bg-dark bg-opacity-10">
        <div class="col-2"></div>
        <div class="col-10 p-2 text-center">
            <h6>Todays date : {{ date }}</h6>
        </div>
    </footer>
    <script src="{% static 'js/menu_switch.js' %}"></script>

    {% else %}

    <main>
        <div class="row justify-content-center align-content-center bg-dark">
            <div class="col-6 text-center p-5">
                <h2 class="text-white">You are not authorized to view this page.</h2>
                <a href="{% url 'home' %}" class="btn btn-outline-light text-center mt-3">click here to go back</a>
            </div>
        </div>
    </main>
    <script>
        window.location.href = "{% url 'home' %}";
    </script>

    {% endif %}

</body>

</html>