{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jernskeggs Art Admin panel</title>
    {% include 'style.html' %}
</head>

<body>
    {% if user.is_staff %}

    <!-- Menu Sidebar Section -->
    <aside class="col-2 ap-menu text-center fixed text-white bg-dark">
        <div class="p-5">
            <h2>Admin panel</h2>
            <p id="keepMeOnRightPage">{{ switch }}</p>
        </div>

        <hr class="ap-hr">

        <a href="{% url 'adminpanel' %}" class="text-decoration-none">
            <div id="overview" class="ap-menu-sel ap-menu-option">
                <h6>Overview</h6>
            </div>
        </a>

        <hr class="ap-hr">

        <a href="{% url 'request_list' %}" class="text-decoration-none">
            <div id="requestList" class="ap-menu-option">
                <h6>Request List</h6>
            </div>
        </a>

        <hr class="ap-hr">

        <a href="{% url 'purchase_history' %}" class="text-decoration-none">
            <div id="purchaseHistory" class="ap-menu-option">
                <h6>Purchase History</h6>
            </div>  
        </a>

        <hr class="ap-hr">

        <a href="{% url 'contact_inquiries' %}" class="text-decoration-none">
            <div id="contactInquiries" class="ap-menu-option">
                <h6>Contact Inquiries</h6>
            </div>
        </a>

        <hr class="ap-hr">

        <a href="{% url 'products' %}" class="text-decoration-none">
            <div id="products" class="ap-menu-option">
                <h6>products</h6>
            </div>
        </a>

        <hr class="ap-hr">

        <div class="ap-menu-btn">
            <hr>
            <a href="{% url 'home' %}" class="btn btn-outline-light text-center">Back to page</a>
            <a href="{% url 'admin:login' %}" class="btn btn-outline-light text-center">Advanced Admin Panel</a>
        </div>
    </aside>
    <main class="g-0 row fill-to-bottom">

        <!--Empty filler for admin panel menu -->

        <div class="col-2">
        </div>
        <div class="g-0 p-3 col-10">
            {% block content %}
            <!-- Content Goes here -->
            {% endblock content %}
        </div>
    </main>
    <footer class="g-0 row fixed-bottom bg-dark bg-opacity-10">
        <div class="col-2"></div>
        <div class="col-10 p-2 text-center">
            <h6>Todays date : {{ date }}</h6>
        </div>
    </footer>
    <script src="{% static 'js/menu_switch.js' %}"></script>

    {% else %}

    <main>
        <div class="row justify-content-center align-content-center bg-dark">
            <div class="col-6 text-center p-5">
                <h2 class="text-white">You are not authorized to view this page.</h2>
                <a href="{% url 'home' %}" class="btn btn-outline-light text-center mt-3">click here to go back</a>
            </div>
        </div>
    </main>
    <script>
        window.location.href = "{% url 'home' %}";
    </script>

    {% endif %}

</body>

</html>