{% extends "admin_panel_base.html" %}

{% block content %}
<div id="overviewDisplay" class="row">
    <div class="col-12">
        <div class="bg-dark p-2">
            <h2 class="text-white">something</h2>
        </div>
        <div class="p-2 bg-dark bg-opacity-10 mb-3">
            <p>1 Some paragraph that goes here and there, about latest updates</p>
        </div>
    </div>
    <div class="col-8">
        <div class="bg-dark p-2 ">
            <h2 class="text-white">something</h2>
        </div>
        <div class="p-2 bg-dark bg-opacity-10 mb-3">
            <p>2 Some paragraph that goes here and there, about latest updates</p>
        </div>
    </div>
    <div class="col-4">
        <div class="bg-dark p-2">
            <h2 class="text-white">something</h2>
        </div>
        <div class="p-2 bg-dark bg-opacity-10 mb-3">
            <p>3 Some paragraph that goes here and there, about latest updates</p>
        </div>
    </div>
</div>
{% endblock %}