{% extends "admin_panel_base.html" %}

{% block content %}

            <!-- Products -->

            <div id="productsDisplay" class="row">
                <div class="col-6">
                    <div class="bg-dark p-2">
                        <h2 class="text-white">Add a new product</h2>
                    </div>
                    <div class="p-2 g-0 row bg-dark bg-opacity-10 mb-3">
                        <p>click here to add a new image</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="bg-dark p-2">
                        <h2 class="text-white">Glossary</h2>
                    </div>
                    <div class="p-2 g-0 row bg-dark bg-opacity-10 mb-3">
                        <p>
                            <b>Slug</b>: is a shortend non space name perfect for webbrowsers
                        </p>
                        <p>
                            <b>Private Image</b>: is a private image that is sent to the user
                            when the have purchased the product
                        </p>
                        <p>
                            <b>Public Image</b>: is a public image with watermarkings for the gallery
                        </p>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <div class="bg-dark p-2">
                        <h2 class="text-white">Product List</h2>
                    </div>
                    <div class="p-2 g-0 row bg-dark bg-opacity-10 mb-3">
                        <div class="col-3">
                            <p>Title</p>
                        </div>
                        <div class="col-1">
                            <p>Slug</p>
                        </div>
                        <div class="col-2">
                            <p>Private Image</p>
                        </div>
                        <div class="col-1">
                            <p>Public Image</p>
                        </div>
                        <div class="col-1">
                            <p>Hidden</p>
                        </div>
                        <div class="col-2">
                            <p>Price</p>
                        </div>
                        <div class="col-1">
                            <p></p>
                        </div>
                    </div>
                    {% for item in images %}
                    <form action="{% url 'update_product' item.id %}" method="POST">
                        {% csrf_token %}
                        <div class="p-2 g-0 row bg-dark bg-opacity-10 mb-3 align-content-center">
                            <div class="col-3">
                                <p>{{ item.title }}</p>
                            </div>
                            <div class="col-1">
                                <p>{{ item.slug }}</p>
                            </div>
                            <div class="col-2">
                                <a href="{{ item.image.url }}" target="_blank">Private Image</a>
                            </div>
                            <div class="col-1">
                                <a href="{{ item.water_marked_image.url }}" target="_blank">Public Image</a>
                            </div>
                            <div class="col-1 form-check form-check-inline">
                                <label>Hidden: </label>
                                {% if item.hidden %}
                                <input type="checkbox" name="hide_me" checked>
                                {% else %}
                                <input  type="checkbox" name="hide_me">
                                {% endif %}
                            </div>
                            <div class="col-2">
                                <label>Cost: </label>
                                <input type="number" name="price" value="{{ item.price }}">
                            </div>
                            <div class="col-1">
                                <button type="submit" class="btn btn-dark">Save</button>
                            </div>
                        </div>
                    </form>
                    {% endfor %}
                </div>
            </div>
{% endblock %}