{% extends "base.html" %}

{% block content %}

<section class="p-0 p-lg-5">
    <div class="g-0 row main-gallery justify-content-center" >
        <div class="row justify-content-center">
          <a href="{% url 'gallery' %}" class="btn btn-warning m-2 col col-lg-2">Sort by newest</a>
          <a href="{% url 'gallery' %}?sort=price" class="btn btn-warning m-2 col col-lg-2">Sort by price</a>
          <a href="{% url 'gallery' %}?sort=name" class="btn btn-warning m-2 col col-lg-2">Sort by Name</a>
        </div>
        {% for listimage in images %}
        {% if listimage.is_hidden == False %}
        <div class="bg-dark m-2 col-10 col-md-5 col-xl-2 border-white">
            <div class="card gallery-image-preview  " data-bs-toggle="modal" data-bs-target="#{{ listimage.slug }}">
                <img src="{{ listimage.water_marked_image.url }}" alt="{{ listimage.title }}" class="card-img card-image-size">
                <div class="card-img-overlay text-white m-2">
                    <h2 class= "card-title">{{ listimage.title|title }}</h2>
                    <p class="end-2">{{ listimage.price }} €</p>
                </div>
            </div>
        </div>

        <div class="modal" id="{{ listimage.slug }}" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <p class="modal-title">{{ listimage.title }}</p>
                  <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center bg-dark">
                    <div class="row ">
                      <div class="col">
                        <img src="{{ listimage.water_marked_image.url}}" class="gallery-image-shadow" alt="{{ listimage.title }}">
                      </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                  <div class="col"><button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Close</button></div>
                  <form class="col" action="{% url 'add_to_cart' listimage.id %}" method="POST">
                    {% csrf_token %} 
                    <button type="submit" class="btn btn-warning">add to basket: {{ listimage.price }}€</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% empty %}
          
        <h1 class="mt-5 text-center">EMPTY</h1>
        {% endfor %}
    </div>
</section>

{% endblock %}