{% extends "base.html" %}

{% block content %}

<section class="row p-5 justify-content-center g-0">
    <div class="col">
        <h2>About me</h2>
        <p>
            I am a 3d redering ennthusiast and I love game art work.
            On this page I am going to show my art that I've made
        </p>
        <p> Here are some examples off what you can find here </p>
        <div class="p-2">
            <ul>
                <li>3D renderings</li>
                <li>Photos</li>
                <li>Sketches</li>
                <li>Concept art</li>
                <li>3D models</li>
                <li>Landscape paintings</li>
                <li>Logo design</li>
            </ul>
        </div>
        <p>All the images seen on this page can be purchased so you can use it without credits on your own projects</p>
        </p>
    </div>
</section>


{%endblock%}