{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<section class="p-md-5 p-1">
    <div class="justify-content-center row g-0">
        <div class="col-12 col-xl-3 text-white bg-dark ms-xl-1 text-center mb-2 p-4 order-xl-2">
            <h2>Welcome {{ user.username }}</h2>
            <div class="row">
                <a href="" class="text-white pt-2 pb-2">Change Username</a>
            </div>
            <div class="row">
                <a href="{% url 'account_email' %}" class="text-white pt-2 pb-2" >Change E-mail</a>
            </div>
            <div class="row">
                <a href="{% url 'account_change_password' %}" class="text-white pt-2 pb-2">Change Password</a>
            </div>
        </div>
        
        <div class="col-12 col-xl-7 text-center bg-dark order-xl-1">
            <h2 class="text-white">purchase history</h2>
            {% for list in commission %}
            {% if list.requested_by == user %}
            <div class="p-3 bg-white m-2">
                <div class="row">
                    <p class="col-12 col-xl text-dark">ORDER ID</p>
                    <p class="col-12 col-xl text-dark">type: {{ list.type }}</p>
                    <p class="col-12 col-xl status-{{ list.status }}">{{ list.status }}</p>
                    <p class="col-12 col-xl text-dark">{{ list.image_size }}</p>
                    <p class="col-12 col-xl text-dark">{{ list.date_requested }}</p>
                </div>
                <div class="row">
                    <p class="col-12">{{ list.user_description}}</p>
                </div>
            </div>
            
            {% endif %}
            {% endfor %}
        </div>
</section>

{% else %}
<section class="p-md-5 p-1">
    <div class="justify-content-center row g-0">
        <div class="col-12 p-5 col-xl-3 text-white bg-dark ms-xl-1 text-center mb-2 p-4 order-xl-2">
            <h2>Hey There!</h2>
            <p>Looks like you are not logged in. please log in <a href="{% url 'account_login' %}" class="">here</a></p>
        </div>
    </div>
    
</section>
{% endif %}


{%endblock%}