{% extends "base.html" %}

{% block content %}


<section class="p-md-5 p-1">
    <div class="justify-content-center row g-0">
        <div class="col-12 col-xl-3 text-white bg-dark ms-xl-1 text-center mb-2 p-4 order-xl-2">
            <h2>Checkout items</h2>
        </div>
        
        <div class="col-12 col-xl-7 text-center bg-dark order-xl-1">
            <h2 class="text-white">Checkout details</h2>
            <div class="p-3 bg-white m-2">
            </div>
        </div>
</section>

{%endblock%}