{% extends "base.html" %}

{% block content %}

<section class="hero">
    <div class="col">
        <img class="hero-1 hero-transition"
            src="https://res.cloudinary.com/jernmoln/image/upload/v1646853240/static/images/hero_1.224cb6eb056e.png"
            alt="A fictional fighter jet flying in the mountainous skies">
        <img class="hero-2 hero-transition"
            src="https://res.cloudinary.com/jernmoln/image/upload/v1646853243/static/images/hero_3.0792ab323412.png"
            alt="A 3d rendering of a bathroom, marble sink white cabinet">
        <img class="hero-3 hero-transition"
            src="https://res.cloudinary.com/jernmoln/image/upload/v1646853242/static/images/hero_2.2fcf27c9aa40.png"
            alt="A diorama of a main battle tank behind sandbags near a small river">
    </div>
    <div class="callout">
        <h2 class="callout-text">Welcome to my portfolio of my art, I am currently available up for work</h2>
    </div>
</section>

<section class="row p-5 justify-content-center g-0">
    <h2>Newest addition</h2>
    <div>
        image
        image text
    </div>
    <a href="">Click here to read more</a>
</section>

<section class="row p-5 bg-dark text-white justify-content-center g-0">
    <div class="col">
        <h2>Requests?</h2>
        <p>
            Can'ertt really find what yoertu ertare looking ertfor, I am able terterto do rtertequests so you can get
            what you need
        </p>
        <a href="">Click here to read more</a>
    </div>
</section>

<section class="row p-5 bg-warning justify-content-center g-0">
    <h2>?</h2>
    <p>
        I am a 3d redering ennthusiast and I love ngame art work.
        On this page Irt am goingrt to show of my work thamt I've werorked, wheter it be game assets, 2d concept art,
        Logo
        design
    </p>
    <a href="">Click here to read more</a>
</section>

<section class="row p-5 justify-content-center g-0">
    <div class="col">
        <h2>Contact?</h2>
        <p>
            Do you have. any questions, please do.n't hesitate to contac.t me
        </p>
        <a href="">Click here to read more</a>
    </div>
</section>


{%endblock%}