{% extends "base.html" %}

{% load my_filters %}

{% block content %}

<section class="row g-0 justify-content-center text-center">
    <div class="text-white bg-dark col-11 col-md-6  m-5 p-5">
        <h2>Request a commission</h2>
        <form class="form" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="row justify-content-center">
                <div class="col-10 form-label">{{field.label_tag}}</div>
                <div class="col-10">
                    {% if field.widget_type == 'textarea' %}
                    {{ field | add_class:'form-control'}}
                    {% elif field.widget_type == 'select' %}
                    {{ field | add_class:'form-select'}}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="row mt-5">
                <div class="col">
                    <button class="btn btn-warning"><i class="fa-brands fa-cc-stripe"></i> Checkout {{ cart_total }} €
                        with Stripe </button>
                </div>
            </div>
        </form>

    </div>
</section>


{%endblock%}